/* Home page styles */
.hero-cta{
  font-size: 4rem;
  line-height: 4.5rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(27, 11, 58, 0.9);
  letter-spacing: -.2px;
}

.text-purple {
  --tw-text-opacity: 1;
  color: rgb(129 91 197 / var(--tw-text-opacity, 1));
}

.bg-circularLight {
  width: 100vw;
  height: 100vh;

  width: 120%;
  height: 120%;

  padding: 100px;
  position: absolute;

  width: 120vw;
  height: 120vh;
  width: 1600px;
  height: 1600px;

  background:
    repeating-radial-gradient(
      circle at center,
      rgba(0, 0, 0, 0.07) 0px,
      rgba(255, 255, 255, 0.1) 2px,
      transparent 2px,
      transparent 40px
    );
}

.radial-container {
  display: flex;
  flex-direction: column;
  height: 86vh;
  max-height: 650px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.bg-circularLight:hover {
  transform: rotateX(0deg) rotateY(0deg) scale(1.05);
}